{
  "extends": ["taro"],
  "rules": {
    "jsx-quotes": "off",
    "react/jsx-indent-props": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
  },
  "parser": "babel-eslint"
}
