.index-top-bg {
    background-image: url("https://idd.cssapsu.cn/images/index_bg_op10.png");
    background-size: 150%
}

.major-wiki-bg {
    background: #ffc107;
    background-image: url("https://idd.cssapsu.cn/images/major_wiki_bg.png");
}

.freshman-wiki-bg {
    background: #ee5050;
    background-image: url("https://idd.cssapsu.cn/images/freshman_wiki_bg.png");
}

.school-map-bg {
    background: #2196f3;
}

/* .little-sa-avatar-1 {
    background-image: url("https://idd.cssapsu.cn/images/%E5%B0%8Fsa%E5%A4%B4%E5%83%8F3.gif");
    background-repeat: no-repeat;
    background-size: 25%;
} */

.major-wiki-bg, .freshman-wiki-bg {
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 95%;
}

.index-card-title {
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 64rpx;
    text-shadow: 1px 1px 1px #333;
}

.index-title {
    text-align: left;
    padding: 200px 0 16px 0;
}

.cssa_yearbook_menu_button {
    clear:both;
    padding: 16px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 32px;
    color: #999;
    font-weight: bold;
    font-size: 36px;
}