.navigationcard_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 52px;
}

.navigationcard {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 64px 0 0 64px;
}

.index-top-bg {
    background-image: url("https://idd.cssapsu.cn/images/index_bg_op10.png");
    background-size: 75%
}

.major-wiki-bg {
    background:#ffc107;
    background-image: url("https://idd.cssapsu.cn/images/major_wiki_bg.png");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 95%;
}

.freshman-wiki-bg {
    background:#ee5050;
    background-image: url("https://idd.cssapsu.cn/images/freshman_wiki_bg.png");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 92%;
}

.index-card-title {
    font-weight: bold; color: #fff;display: block; font-size: 64rpx;text-shadow: 1px 1px 1px #333;
}

.index-title {
    text-align: left;
    padding: 200px 0 16px 0;
}