page {
    background-color: #f4f4f7;
}

.bg-white--cssa {
    background-color: #f4f4f7;
}

.bg-red--cssa {
    background-color: #ee5050;
}

.bg-back--cssa {
    background-color: #1b1b1b;
}

.color-red--cssa {
    color: #ee5050;
}

.color-deepred--cssa {
    color: #a02727;
}

.color-white {
    color: #fff;
}

.container {
    padding-bottom: 32px;
    text-align: center;
    z-index: 10;
}

.freshman-manual-index {
    padding-top: 198px;
}

.freshman-manual-index .at-drawer__content {
    padding-top: 200rpx;
}

.navigationcard_wrapper {
    display: flex;
    justify-content: center;
}

.navigationcard {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 64px 0 0 64px;
    background: #ee5050;
}

.navigationcard .title {
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 64rpx;
    text-shadow: 1px 1px 1px #333;
}

.xssc-share-button {
    height: 80rpx;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
    padding: 0 32rpx;
    position: fixed;
    bottom: 198px;
    right: 32rpx;
    border-radius: 10rpx;
    z-index: 99;
}

.xssc-home-button, .back-botton {
    height: 80rpx;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
    padding: 0 32rpx;
    position: fixed;
    top: 100rpx;
    left: 32rpx;
    border-radius: 10rpx;
    z-index: 99;
}

.contact-btn {
    height: 80rpx;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
    padding: 0 32rpx;
    border-radius: 10rpx;
}

.at-list__item-extra {
    display: none;
}

.at-list__item .item-content__info-title {
    white-space: normal;
}

.at-list__item::after {
    border-color: #ddd;
}

.at-search-bar {
    background: #f4f4f7 !important;
}

.at-search-bar::after {
    border: none !important;
}

.at-search-bar__input-cnt {
    background: #ffffff !important;
}

.at-search-bar__action {
    background: #ee5050 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.at-list::after {
    border: none !important;
}

.reader-search-bar {}

.reader_bottom_control {
    color: #ffffff;
}

.reader_bottom_control_inactive {
    color: #a02727;
}