page {
    background-color: #f4f4f7;
}

.bg-white--cssa {
    background-color: #f4f4f7;
}

.bg-red--cssa {
    background-color: #ee5050;
}

.bg-back--cssa {
    background-color: #1b1b1b;
}

.color-red--cssa {
    color: #ee5050;
}

.color-deepred--cssa {
    color: #a02727;
}

.color-white {
    color: #fff;
}

.container {
    padding-bottom: 32px;
    text-align: center;
    z-index: 10;
}

.freshman-manual-index {
    padding-top: 198px;
    padding-bottom: 300rpx;
}

.freshman-manual-index .at-drawer__content {
    padding-top: 200rpx;
}

.xssc-share-button {
    height: 80rpx;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
    padding: 0 32rpx;
    position: fixed;
    bottom: 198px;
    right: 32rpx;
    border-radius: 10rpx;
    z-index: 99;
}

.xssc-home-button, .back-botton {
    height: 80rpx;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
    padding: 0 32rpx;
    position: fixed;
    top: 100rpx;
    left: 32rpx;
    border-radius: 10rpx;
    z-index: 99;
}

.contact-btn {
    height: 80rpx;
    background: #1b1b1b;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
    padding: 0 32rpx;
    border-radius: 10rpx;
}

.at-list__item-extra {
    display: none;
}

.at-list__item .item-content__info-title {
    white-space: normal;
}

.at-search-bar {
    background: #f4f4f7 !important;
}

.at-search-bar::after {
    border: none !important;
}

.at-search-bar__input-cnt {
    background: #ffffff !important;
}

.at-search-bar__action {
    background: #ee5050 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.at-list::after {
    border: none !important;
}